.h-nero{
    height: 30px;
    background-color: black;
}

.dimension{
    width: 130px;
    height: auto;
}

#hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.returnal_logo{
    height: 50px;
}

.hov:hover{
    color: red !important;
}

.btn-change-color:hover{
    background-color: blue!important;
    
}

a img:hover{
    opacity: 70%;
}

.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.takes-two_logo{
    height: 130px;

}

.sfondo_grigio{
    background-color: #1F1F1F;
}

#sfondo_ps_plus{
    background-color: #BEBCBB;
}

#sfondo_ps_now{
    background-color: #161C3B;
}

.logo_ps_plus{
    height: 80px;
}